body {
	font-size: 16px;
	font-family: serif;
	width: 95%;
	max-width: 960px;
}

h2 {
	font-variant: small-caps;
}

h3 {
	margin-top: 5px;
	font-variant: small-caps;
}

h4 {
	font-variant: small-caps;
}

section {
	border: 1px solid;
	padding: 10px;
}

li p {
	margin-top: 0;
}

table {
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid;
}

th, td {
	padding: 0 10px;
}

.campaign-preludes li {
  display: flex;
}

.campaign-preludes li .ao {
  order: 1;
}

.campaign-preludes li .prelude {
  order: 3;
}

.campaign-preludes li::after {
  background-image: radial-gradient(circle, currentcolor 1px, transparent 1.5px);
  background-position: bottom;
  background-size: 1ex 4.5px;
  background-repeat: space no-repeat;
  content: "";
  flex-grow: 1;
  order: 2;
}

p.example {
	font-style: italic;
}

p.q {
	font-style: italic;
}

p.q:before {
	content: "Q. ";
}

p.a:before {
	content: "A. ";
}

@media print {
	a {
		text-decoration: none;
		color: currentColor;
	}
}

/* span styles */
.def {
	font-variant: small-caps;
	font-weight: bold;
}

.trait {
	font-variant: small-caps;
	font-weight: bold;
	font-style: italic;
}

.reckoning::before {
	content:url('reckoning.svg');
}

.investigators::before {
	content:url('investigators.svg');
}

.lore::before {
	content:url('lore.svg');
}

.influence::before {
	content:url('influence.svg');
}

.observation::before {
	content:url('observation.svg');
}

.strength::before {
	content:url('strength.svg');
}

.will::before {
	content:url('will.svg');
}
