:root {
  color-scheme: light dark;
}

body {
	font-size: 16px;
	font-family: serif;
}

h2 {
	font-variant: small-caps;
}

h3 {
	margin-top: 5px;
	font-variant: small-caps;
}

section {
	border: 1px solid;
	padding: 10px;
}

li p {
	margin-top: 0;
}

p.example {
	font-style: italic;
}

@media print {
	a {
		text-decoration: none;
		color: black;
	}
}

/* script buttons start hidden */
#buttons {
	display: none;
}

/* span styles */
.def {
	font-variant: small-caps;
	font-weight: bold;
}

.trait {
	font-variant: small-caps;
	font-weight: bold;
	font-style: italic;
}

