:root {
  color-scheme: light dark;
}

body {
	font-size: 16px;
	font-family: sans-serif;
}

h2 {
	font-variant: small-caps;
}

h3 {
	margin-top: 5px;
	font-variant: small-caps;
}

section {
	border: 1px solid;
	padding: 10px;
}

.def {
	font-variant: small-caps;
	font-weight: bold;
}

.trait {
	font-variant: small-caps;
	font-weight: bold;
	font-style: italic;
}


@media print {
	a {
		text-decoration: none;
		color: black;
	}
}

/* script buttons start hidden */
#buttons {
	display: none;
}

/* span styles */
.event {
	text-transform: capitalize;
	font-variant: small-caps;
}

.card {
	font-weight: bold;
	text-transform: capitalize;
}

.deck {
	font-style: italic;
}

.bad {
	text-transform: uppercase;
	font-weight: bold;
	color: darkred;
	text-shadow: 1px 1px 2px gray;
}


